* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-actions-modal-buttons {
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 50%;
}

.action-header{
    background-color: #2f3545;
    color: white;
}



.modal-body{
    border-top: 0;
}