.home-container-wrapper {
    margin-top: 2em;
    margin-left:2em;
    /* width: 100vh; */
    background-color: #fafafa;
    border-radius: 10px 10px 0 0;
}

.user-container-wrapper {
    /* position: fixed; */
    height: 100px;
    
}

.tabs-container-wrapper {
    padding-top: 1em;
}

.tabs-wrapper .fa-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.tabs-wrapper .fa-icon:hover {
    color: #F26925;
    transform: scale(1.1);
    transition: 0.5s;
}

.tabs-wrapper .fa-icon-2 {
    margin-left: 2em;
}

.proj-info-wrapper {
    font-weight: bold;
}

.proj-info-wrapper span {
    padding-left: 5em;
}

.folder-container-wrapper {
    margin-top: 4em;
}

.project-container-wrapper {
    margin-top: 2em;
}

.folder-card-wrapper {
    border: 1px solid gray;
    padding: 1.8vh 10vh 1.8vh 1.8vh;
    border-radius: 10px;
    transition: 0.5s;
}

.folder-card-wrapper:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
	-webkit-box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
	-moz-box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
    cursor: pointer;
}

.outer-folder-wrapper span {
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.folder-card-wrapper:first-child {
    margin-right: 2em;
}

.fa-icon-folder {
    padding-top: 6px;
    color: #72a4c2;
}

.outer-proj-card-wrapper {
  margin-right: 2em;
  display: inline-flex;
  flex-direction: column;
}

.proj-card-wrapper {
    margin-top: 2em;
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 35px rgba(8, 8, 8, 0.1)  ; 
	-webkit-box-shadow: 0 0 35px rgba(8, 8, 8, 0.1)  ; 
	-moz-box-shadow: 0 0 35px rgba(8, 8, 8, 0.1)  ; 
    border-radius: 10px;
}

.card-footer:last-child {
    border-radius: 20px;
    
}

.proj-card-wrapper .row {
    margin-left: 0;
}

.proj-card-wrapper .elipsis-btn-wrapper {
    padding-top: 1em;
    text-align: right; 
    display:block;
    padding-right: 1em;
} 

.proj-card-wrapper {
    padding-left: 1em;
    padding-top: 1em;
}

.proj-card-name {
    font-weight: bold;
    font-size: 20px;
}

.proj-card-tags {
    
    color: white;
    background-color: #72a4c2;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    border-radius: 5px;
    font-size: 10px;
    padding-right: 1em;
}

.proj-card-tags {
    width: 245px;
    max-height: 20px;
    overflow: hidden;
    text-overflow:clip;
}

.proj-card-wrapper-tags {
    margin-top: 5px;
    font: 5px;
    padding-right: 0.2vh;
}

.proj-card-tags:hover {
    transition: 0.10s ease-in-out;
    background-color: #51bcee;
    cursor: pointer;
}

.card-container-wrapper {
    height: 250px;
    transition: 0.5s ease-in-out;
}


.card-project-wrapper {
    padding: 1.2vh 1.2vh 1.2vh 1.2vh;
}

.card-footer {
    border: 0;
}


.card-body {
    height: 200px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card-project:hover .fa-ellipsis-h{
    color: #f5f5f5;
    transition: 0.2s ease-in-out;
    background-color: #2f3545;
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1.0;
}

.card-project:hover {
    color: #f5f5f5;
    transition: 0.5s ease-in-out;
    background-color: #2f3545;
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1.0;
}

.fa-ellipsis-h:hover .card-project {
    color: #F26925;
}

.card {
    box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
	-webkit-box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
	-moz-box-shadow: 0 0 15px rgba(84, 75, 84, 0.2)  ; 
    border-radius: 20px;
}

.grid-sort-down:hover {
    cursor: pointer;
    color: #F26925;
}

.sort {
    font-weight: bold;
    transition: 0.2 ease-in-out;
    color: black;
}

.sort-active {
    color: #F26925;
    font-weight: bold;
    transition: 0.2 ease-in-out;
}